<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container ">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" routerLink="/home">
            <strong class="blue-text">Studio141</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link waves-effect" routerLinkActive="sideBarSelectTouch" routerLink="/produtos/listar">Produtos
                  <span class="sr-only">(current)</span>
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" routerLinkActive="sideBarSelectTouch" routerLink="/users/listar">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" routerLinkActive="sideBarSelectTouch" routerLink="/estoquista/listar">Controle de Estoque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" routerLinkActive="sideBarSelectTouch" routerLink="/home">Home de Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" routerLinkActive="sideBarSelectTouch" routerLink="/testes">Testes</a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link waves-effect" routerLink="/produtos">Produtos</a>
              </li> -->
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">

                <!-- <li class="nav-item">
                <a href="https://www.facebook.com/" class="nav-link waves-effect" target="_blank">
                  <i class="far fa-user"></i>
                </a>
              </li> -->

                <li class="nav-item">
                    <a  class="nav-link border border-light rounded waves-effect">
                        <i class="far fa-user" (click)="acessarUsuario()"> Editar Conta</i>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="#" class="nav-link waves-effect">
                        <i class="fas fa-sign-out-alt" (click)="logout()"></i>
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->