

<div class='row'>
  <div class='col-md-12'>
    <div class="container">
      <br>
      <div class="container">
        <h2>Lista de Usuários</h2>
      </div>
      <br>
      <div class="container">
        <div class='row justify-content-start marginTabela justify-content-between'>
          <form class="form-inline comMarginBottom">
            <input type='search' placeholder='Pesquisar' class='form-inline form-control mr-sm-1'>
            <button class="btn btn-info my-2 my-sm-0" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <form class="form-inline">
            <a type='submit' [routerLink]="['/users/cadastrar']" class='btn btn-success  centralizar'>
              <i class="fas fa-user-plus"></i>
              Novo Usuário
            </a>
          </form>


        </div>

        <div class='row marginTabela' style='text-align: center'>
          <table class="table">
            <thead class="thead-default tituloTabela">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Usuário</th>
                <th scope="col">Tipo</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let users of responseUsers'>
                <!-- *ngIf='users.statusUsuario == "Ativo"' -->
                <td scope="row"> {{ users._id }} </td>
                <td class="maxCarch">{{ users.nome }}</td>
                <td class="maxCarch">{{ users.sobrenome }}</td>
                <td>{{users.email}}</td>
                <td>{{users.tipo}}</td>
                <td>{{ users.statusUsuario }}</td>
                <td>
                  <abbr title="Atualizar Usuário">
                    <button type="button" class="btn btn-info" [routerLink]="['/users/editar', users._id]">
                      <!-- <i class="fa fa-pencil">
                      </i> --><i class="fas fa-user-edit"></i>
                    </button>
                  </abbr>&nbsp;
                  <abbr title="Bloquear Usuário">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#excluirModal"
                      (click)="remover(users._id, users.nome, users)">
                      <!-- <i class="fa fa-trash"></i> --><i class="fas fa-ban"></i>
                    </button>
                  </abbr>&nbsp;
                </td>
              </tr>