<br>
<div class="container">
    <h2></h2>
</div>
<br>

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <!-- Heading -->
        <h2 class="my-5 h2 text-center">Editar Usuário</h2>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-12 mb-4">

                <!--Card-->
                <div class="card">

                    <!--Card content-->
                    <form class="card-body" #formProduto="ngForm">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-4 mb-3">

                                <!--firstName-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" id="firstName" class="form-control" minlength='3' disabled name="nome" [(ngModel)]="request.nome" #nome="ngModel">
                                    <label for="firstName" class="active">Nome</label>
                                    <div class="valid-feedback">Ok!</div>
                                    <div class="invalid-feedback">Insira sobrenome com no mínimo 3 caracteres</div>
                                </div>

                            </div>
                            <!--Grid column-->
                            <div class="col-md-1 mb-2"></div>
                            <!--Grid column-->
                            <div class="col-md-4 mb-2">

                                <!--lastName-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" id="lastName" class="form-control" minlength='3' name="sobrenome" [(ngModel)]="request.sobrenome" #sobrenome="ngModel" disabled>
                                    <label for="lastName" class="active">Sobrenome</label>
                                    <div class="valid-feedback">Ok!</div>
                                    <div class="invalid-feedback">Insira sobrenome com no mínimo 3 caracteres</div>
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-4 mb-3">

                                <!--E-mail-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="email" id="email" class="form-control" name="email" [(ngModel)]="request.email" #email="ngModel" disabled>
                                    <label for="email" class="active">Email</label>
                                    <div id="emailInvalido" class="valid-feedback">Ok!</div>
                                    <div id="" class="invalid-feedback">Insira um e-mail válido</div>
                                </div>

                            </div>
                            <!--Grid column-->
                            <div class="col-md-1 mb-2"></div>
                            <!--Grid column-->
                            <div class="col-md-4 mb-2">

                                <!--CPF-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input id="cpf" class="form-control" type="text" min="0" name="cpf" [(ngModel)]="request.cpf" #cpf="ngModel" disabled>
                                    <label for="cpf" class="active">CPF</label>
                                    <div id="cpfInvalido" class="valid-feedback">Ok!</div>
                                    <div class="invalid-feedback">Insira um CPF válido</div>
                                </div>

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-4 mb-2">

                                <!--CPF-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="password" id="senha" class="form-control" name="senha" [(ngModel)]="request.password" #senha="ngModel">
                                    <label for="cpf" class="active">Senha</label>
                                    <div class="valid-feedback">Ok!</div>
                                    <div class="invalid-feedback">Insira um senha</div>
                                </div>

                            </div>

                            <!--Grid column-->
                            <div class="col-md-1 mb-2"></div>
                            <!--Grid column-->
                            <div class="col-md-4 mb-2">

                                <!--ConfirmaSenha-->
                                <!-- <div class="md-form was-validated">
                      <input type="password" id="confirmarSenha" class="form-control" name="confirmarSenha"
                        [(ngModel)]="request.password" #confirmarSenha="ngModel" required>
                      <label for="email" class="">Senha</label>
                      <div class="valid-feedback">Ok!</div>
                      <div class="invalid-feedback">Confirme a senha</div>
                    </div> -->

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Endereco-->
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-4 mb-3">

                                <!--CEP-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" class="form-control" name="cep" [(ngModel)]="endereco.cep" #cep="ngModel" (blur)="consultaCEP($event.target.value,formProduto)">
                                    <label for="cep" class="">CEP</label>
                                    <div class="invalid-feedback">
                                        CEP obrigatório para continuar.
                                    </div>
                                </div>

                            </div>
                            <!--Grid column-->
                            <div class="col-md-3 mb-2">
                                <!--Numero-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="number" class="form-control" min="0" name="numero" [(ngModel)]="endereco.numero" #numero="ngModel">
                                    <label for="numero" class="">Número do endereço</label>
                                    <div class="invalid-feedback">
                                        Número obrigatório para continuar.
                                    </div>
                                </div>
                            </div>
                            <!--Grid column-->
                            <div class="col-md-4 mb-2">
                                <!--Grid column-->
                                <!--Numero-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" class="form-control" name="complemento" [(ngModel)]="endereco.complemento" #complemento="ngModel">
                                    <label for="complemento" class="">Complemento</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-4 mb-3">

                                <!--Logadouro-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" class="form-control" name="rua" [(ngModel)]="endereco.rua" #rua="ngModel">
                                    <label for="rua" class="">Logadouro</label>
                                    <div class="invalid-feedback">
                                        Logadouro obrigatório para continuar.
                                    </div>
                                </div>

                            </div>
                            <!--Grid column-->
                            <div class="col-md-4 mb-2">
                                <!--Grid column-->
                                <!--Numero-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" class="form-control" name="bairro" [(ngModel)]="endereco.bairro" #bairro="ngModel">
                                    <label for="bairro" class="">Bairro</label>
                                    <div class="invalid-feedback">
                                        Bairro obrigatório para continuar.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-4 mb-3">

                                <!--CEP-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" class="form-control" name="cidade" [(ngModel)]="endereco.cidade" #cep="ngModel">
                                    <label for="cidade" class="">Cidade</label>
                                    <div class="invalid-feedback">
                                        Cidade obrigatória para continuar.
                                    </div>
                                </div>

                            </div>

                            <!--Grid column-->
                            <div class="col-md-2 mb-2">
                                <!--Numero-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" class="form-control" name="estado" [(ngModel)]="endereco.estado" #estado="ngModel">
                                    <label for="estado" class="">Estado</label>
                                    <div class="invalid-feedback">
                                        Estado obrigatório para continuar.
                                    </div>
                                </div>
                            </div>
                            <!--Grid column-->
                            <div class="col-md-4 mb-2">
                                <!--Grid column-->
                                <!--Numero-->
                                <div class="md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <input type="text" class="form-control" name="pais" [(ngModel)]="endereco.pais" #pais="ngModel">
                                    <label for="pais" class="">País</label>
                                    <div class="invalid-feedback">
                                        País obrigatório para continuar.
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                        <input type="submit" class="btn btn-success" (click)="enderecos()" value="Adicionar Endereço">
                        <hr class="mb-4">
                        <div class='row ' style='text-align: center'>
                            <table class="table">
                                <thead class="thead-default tituloTabela md-form was-validated col-md-11 mb-11 col-xs-11 col-sm-11 ">
                                    <tr>
                                        <th scope="col">Rua</th>
                                        <th scope="col">Número</th>
                                        <th scope="col">Bairro</th>
                                        <th scope="col">Complemento</th>
                                        <th scope="col">CEP</th>
                                        <th scope="col">Cidade</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Páis</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor='let end of request.endereco; let i = index'>
                                        <!-- <td scope="row"> {{ faqs._id }} </td> -->
                                        <td class="maxCarch">{{ end.rua }}</td>
                                        <td class="maxCarch">{{ end.numero }}</td>
                                        <td class="maxCarch">{{ end.bairro }}</td>
                                        <td class="maxCarch">{{ end.complemento }}</td>
                                        <td class="maxCarch">{{ end.cidade }}</td>
                                        <td class="maxCarch">{{ end.cep }}</td>
                                        <td class="maxCarch">{{ end.estado }}</td>
                                        <td class="maxCarch">{{ end.pais }}</td>
                                        <td>

                                            <abbr title="Excluir">
                                                <button type="button" (click)="selecionarItem(i)" class="btn btn-danger"
                                                    data-toggle="modal" data-target="#removerProduto">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </abbr>&nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>&nbsp;
                        <!--Grid row-->

                        <!-- Modal Excluir-->
                        <div class="modal fade" id="removerProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm modal-notify modal-danger modal-side modal-top-center" role="document">
                                <!--Content-->
                                <div class="modal-content text-center">
                                    <!--Header-->
                                    <div class="modal-header d-flex justify-content-center">
                                        <h2 class="heading">Tem certeza?</h2>
                                    </div>

                                    <!--Body-->
                                    <div class="modal-body">

                                        <i class="fas fa-times fa-4x animated rotateIn"></i> Deseja realmente remover o Endereço selecionado ?
                                    </div>

                                    <!--Footer-->
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" data-dismiss="modal" class="btn btn-notify btn-outline-danger waves-effect waves-light" (click)="cancelarEndereco()">Sim</button>
                                        <a type="button" class="btn btn-notify btn-danger waves-effect" data-dismiss="modal">Não</a>
                                    </div>
                                </div>
                                <!--/.Content-->
                            </div>
                        </div>

                        <hr class="mb-4">



                        <div class="form-group">
                            <input type="button" class="btn btn-info" (click)="update()" value="Atualizar" [disabled]="formProduto.form.invalid">
                            <a [routerLink]="['/minha-conta']"><button type="button"
                                        class="btn btn-danger botaoCancelar">Voltar</button></a>
                        </div>


                    </form>

                </div>
                <!--/.Card-->

            </div>


        </div>
        <!--Grid row-->

    </div>